::-webkit-scrollbar { 
    display: none; 
}

.homepage{
	background-color: #101518;
}
.bodypage{
	background-color: #282D30;
}


.Background_img{
	width: 101%;
	margin: -0.45%;
	padding: 0;
	border: 0;
	left: 0px;
}