::-webkit-scrollbar { 
    display: none; 
}

/*------------------------------MASTER CLASSES------------------------------*/
.homepage{
	background-color: #02151C;
}
.bodypage{
	background-color: #282D30;
}

.Background_img{
	width: 101.1%;
    margin: -0.53%;
    padding: 0;
    border: 0;
    left: 0px
}

.Mobile_Background_img{
	width: 101.1%;
    margin: -0.53%;
    padding: 0;
    border: 0;
    left: 0px
}

.Mobile_Background_img-NFC{
	width: 101.1%;
    margin: -0.53%;
    padding: 0;
    border: 0;
    left: 0px
}

.clickContainer{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}

.Mobile_clickContainer{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}


.HomeSpacer {
    height: 11px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #02151C;
}
/*------------------------------RESPONSIVE DESIGN------------------------------*/
/*remove desktop elements*/
@media all and (max-device-width: 770px){
	#main-nav{display: none;}
	.HomeSpacer{display: none;}
	.AnimationContainer{display: none;}
	.Background_img{display: none;}
}

/*remove mobile elements*/
@media all and (min-device-width: 770px){
	.Mobile_Background_img{display: none;}	
	.Mobile_Video01{display: none;}
	.Mobile_Video02{display: none;}
}

.Mobile_clickBox-home{
    position: absolute;
    background-color: white;
    top: 4%;
    left: 10%;
    height: 16%;
    width: 80%;
    opacity: 0.01;
}
.Mobile_clickBox-about{
    position: absolute;
    background-color: white;
    top: 23%;
    left: 10%;
    height: 16%;
    width: 80%;
    opacity: 0.01;
}

.Mobile_clickBox-photos{
    position: absolute;
    background-color: white;
    top: 42%;
    left: 10%;
    height: 16%;
    width: 80%;
    opacity: 0.01;
}

.Mobile_clickBox-media{
    position: absolute;
    background-color: white;
    top: 61%;
    left: 10%;
    height: 16%;
    width: 80%;
    opacity: 0.01;
}
.Mobile_clickBox-contact{
    position: absolute;
    background-color: white;
    top: 80%;
    left: 10%;
    height: 16%;
    width: 80%;
    opacity: 0.01;
}

/*------------------------------MAIN NAV------------------------------*/
.clickBox-home{
    position: absolute;
    width: 4%;
	height: 40.6%;
    top: 30%;
    left: 34.8%;
}
div.clickBox-home:hover{
	border-bottom: 2px solid white;
}

.clickBox-about{
    position: absolute;
    width: 4.3%;
	height: 40.6%;
    top: 30%;
    left: 47.9%;
}
div.clickBox-about:hover{
	border-bottom: 2px solid white;
}

.clickBox-photos{
    position: absolute;
    width: 4.8%;
	height: 40.6%;
    top: 30%;
    left: 61.4%
}
div.clickBox-photos:hover{
	border-bottom: 2px solid white;
}

.clickBox-media{
	position: absolute;
    width: 4.4%;
	height: 40.6%;
    top: 30%;
    left: 75.5%;
}
div.clickBox-media:hover{
	border-bottom: 2px solid white;
}

.clickBox-contact{
	position: absolute;
    width: 5.2%;
	height: 40.6%;
    top: 30%;
    left: 89.3%;
}
div.clickBox-contact:hover{
	border-bottom: 2px solid white;
}

/*------------------------------Animation------------------------------*/
.Home-Content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
}

.Home-Img{
	width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0px;
}

.AnimationContainer{
    position: relative;
    width: 101.1%;
    height: 84.6%;
    margin: -0.53%;
    padding: 0;
    border: 0;
    top: 9.1%;
    left: 0;
    z-index: 999;
}

.box01{
	position: absolute;
    width: 28.6%;
    height: 18%;
    background-color: #02151C;
    z-index: 1000;
    top: -2%;
    right: 0;

    animation-name: ambientFlow01;
    animation-duration: 9s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes ambientFlow01{
	50%{width: 33%;}
	100%{width: 28.6%;}
}

.box02{
	position: absolute;
    width: 53.8%;
    height: 20%;
    background-color: #02151C;
    z-index: 1000;
    top: 14%;
    right: 0;

    animation-name: ambientFlow02;
    animation-duration: 9s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes ambientFlow02{
	50%{width: 58%;}
	100%{width: 53.8%;}
}

.box03{
	position: absolute;
    width: 31.8%;
    height: 18%;
    background-color: #02151C;
    z-index: 1000;
    top: 32.8%;
    right: 0;

    animation-name: ambientFlow03;
    animation-duration: 9s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes ambientFlow03{
	50%{width: 35%;}
	100%{width: 31.8%;}
}

.box04{
    position: absolute;
    width: 21%;
    height: 36%;
    background-color: #02151C;
    z-index: 1000;
    top: 49.2%;
    right: 0;

    animation-name: ambientFlow04;
    animation-duration: 9s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}
@keyframes ambientFlow04{
	50%{width: 23%;}
	100%{width: 21%;}
}

.box05{
	position: absolute;
    width: 32.4%;
    height: 18%;
    background-color: #02151C;
    z-index: 1000;
    top: 83.1%;
    right: 0;

    animation-name: ambientFlow05;
    animation-duration: 9s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
@keyframes ambientFlow05{
	50%{width: 37%;}
	100%{width: 32.4%;}
}

/*------------------------------Content------------------------------*/
.Video01{
	position: absolute;
    top: 3.65%;
    left: 50.85%;
    width: 45%;
    height: 37.7%;
}

.Video02{
	position: absolute;
	top: 44%;
    left: 3.8%;
    width: 68.5%;
    height: 51%;
}

.Mobile_Video01{
    position: absolute;
    top: 24%;
    left: 10%;
    width: 80%;
    height: 21%;
}

.Mobile_Video02{
	position: absolute;
    top: 47%;
    left: 10%;
    width: 80%;
    height: 25%;
}

#Mobile-Media{
	position: absolute;
	top: 71%;
}

.clickBox-album01{
    position: absolute;
    background-color: white;
    opacity: 0.01;
    width: 21.9%;
    height: 74.8%;
    top: 1.9%;
    left: 27.5%;
    z-index: 100;
}

.clickBox-album02{
    position: absolute;
    background-color: white;
    opacity: 0.01;
    width: 21.9%;
    height: 74.8%;
    top: 1.9%;
    left: 50.5%;
    z-index: 100;
}

.clickBox-album03{
    position: absolute;
    background-color: white;
    opacity: 0.01;
    width: 21.9%;
    height: 74.8%;
    top: 1.9%;
    left: 74.1%;
    z-index: 100;
}

.clickBox-phone{
	position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 6%;
}
.clickBox-email{
    position: absolute;
    top: 47.5%;
    left: 10%;
    width: 80%;
    height: 5.8%;
}
.clickBox-website{
	position: absolute;
    top: 54.7%;
    left: 10%;
    width: 80%;
    height: 6%;
}
.clickBox-instagram{
	position: absolute;
    top: 62%;
    left: 10%;
    width: 80%;
    height: 6%;
}
.clickBox-facebook{
	position: absolute;
    top: 69.3%;
    left: 10%;
    width: 80%;
    height: 6%;
}
.clickBox-apple{
	position: absolute;
    top: 76.5%;
    left: 10%;
    width: 80%;
    height: 6%;
}
.clickBox-spotify{
	position: absolute;
    top: 84%;
    left: 10%;
    width: 80%;
    height: 6%;
}
.clickBox-soundcloud{
	position: absolute;
    top: 91%;
    left: 10%;
    width: 80%;
    height: 6%;
}

/*------------------------------Contact form------------------------------*/
label{
	color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 50%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
	color: white;
	background-color: #878A8B;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #878A8B;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}