::-webkit-scrollbar { 
    display: none; 
}

/*------------------------------MASTER CLASSES------------------------------*/
.homepage{
	background-color: #02151C;
}
.bodypage{
	background-color: #282D30;
}

.Background_img{
	width: 101.1%;
    margin: -0.53%;
    padding: 0;
    border: 0;
    left: 0px
}
.clickContainer{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}

/*------------------------------MAIN NAV------------------------------*/
.clickBox-home{
    position: absolute;
    width: 4%;
	height: 40.6%;
    top: 30%;
    left: 34.8%;
}
div.clickBox-home:hover{
	border-bottom: 2px solid white;
}

.clickBox-about{
    position: absolute;
    width: 4.3%;
	height: 40.6%;
    top: 30%;
    left: 47.9%;
}
div.clickBox-about:hover{
	border-bottom: 2px solid white;
}

.clickBox-photos{
    position: absolute;
    width: 4.8%;
	height: 40.6%;
    top: 30%;
    left: 61.4%
}
div.clickBox-photos:hover{
	border-bottom: 2px solid white;
}

.clickBox-media{
	position: absolute;
    width: 4.4%;
	height: 40.6%;
    top: 30%;
    left: 75.5%;
}
div.clickBox-media:hover{
	border-bottom: 2px solid white;
}

.clickBox-contact{
	position: absolute;
    width: 5.2%;
	height: 40.6%;
    top: 30%;
    left: 89.3%;
}
div.clickBox-contact:hover{
	border-bottom: 2px solid white;
}